<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body> <!--actin - dzie wyślij, method - jaki http action verb nadać-->
    <form action="/Home/Index" method="post"> <!--Taki jakby input od użytkownika - wypełnia body http Reqest; post - używany w model biding, get - w query string-->
        <label> Id: </label><input type="text" name="Id" value="" /><br />
        <label> First Name: </label><input type="text" name="FirstName" value="" /><br />
        <label> Last Name: </label><input type="text" name="LastName" value="" /><br />
        <label> Phone Number: </label><input type="text" name="Phone" value="" /><br /> 
        <button type="submit" value="Submit"> Submit </button> <!--przycisk-->
    </form>
</body>
</html>

<!--Wersja 2
    <html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <form action="/Home/Index" method="get"> 
        <label> Id: </label><input type="text" name="Id" value="" /><br />
        <label> First Name: </label><input type="text" name="FirstName" value="" /><br />
        <label> Last Name: </label><input type="text" name="LastName" value="" /><br />
        <button type="submit" value="Submit"> Submit </button> 
    </form>
</body>
</html>-->